.Tag {
  background-color: #569363;
  color: #ffffff;
  font-size: 14px;
  display: inline-block;

  border-radius: 4px;

  &_theme_light {
    background-color: #bfd9cd;
    color: #569363;
  }
}

.Tag_size_l {
  padding: 6px 14px;
}

.Tag_size_m {
  padding: 4px 10px;
}

.Tag_size_s {
  font-size: 0.85em;
  padding: 3px 8px;
}

.Tag_type_button {
  cursor: pointer;
}
