.Card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-sizing: border-box;
  width: 100%;

  background-color: white;
  color: black;

  padding: 8px;

  &_theme_dark {
    color: white;
    background-color: #569363;
  }
}

.Card-tags {
  margin-top: 5px;
}

.Card-main {
  display: flex;
}

.Card-tags .Tag {
  margin-right: 4px;
}

.Card-icon {
  padding-right: 20px;
}

.Card-description {
  font-size: 0.75em;
  padding-top: 6px;
}

.Card-content {
  flex-grow: 1;
}

.Card-header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;

  h1 {
    font-weight: normal;
    font-size: 1em;
  }

  time {
    font-size: 0.85em;
  }
}
